.container {
    margin-bottom: 50px;
}
@media (max-width: 1570px) {
    .container {
        margin-bottom: 3.18vw;
    }
}
@media (max-width: 767px) {
    .container {
        margin-top: 10vw;
        margin-bottom: 5.81vw;
    }
}
.title {
    padding: 50px 0;
    text-align: center;
    font-size: 45px;
}
@media (max-width: 1570px) {
    .title {
        font-size: 2.87vw;
        padding: 3.18vw 0;
    }
}
@media (max-width: 767px) {
    .title {
        font-size: 5.38vw;
        margin-bottom: 5.81vw;
    }
}

.text {
    display: inline-block;
    font-size: 20px;
}
@media (max-width: 1570px) {
    .text {
        font-size: 1.27vw;
    }
}
@media (max-width: 767px) {
    .text {
        font-size: 4.38vw;
    }
}
