.title {
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 45px;
    line-height: 55.35px;
    margin-bottom: 59px;
}
@media (max-width: 1570px) {
    .title {
        font-size: 2.87vw;
        line-height: 3.5vw;
        margin-bottom: 3.76vw;
    }
}
@media (max-width: 767px) {
    .title {
        font-size: 6.25vw;
        line-height: 7.5vw;
        margin-bottom: 5.63vw;
        padding-top: 15vw;
    }
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .wrapper {
        align-items: center;
        flex-direction: column;
        padding: 0 3vw !important;
    }
}
.textGroup {
    display: flex;
    flex-direction: column;
    width: 631px;
}
@media (max-width: 1570px) {
    .textGroup {
        width: 40.19vw;
    }
}
@media (max-width: 767px) {
    .textGroup {
        width: 94vw;
    }
}
.item {
    display: flex;
    flex-direction: column;
}
.item:first-of-type {
    margin-bottom: 41px;
}
@media (max-width: 1570px) {
    .item:first-of-type {
        margin-bottom: 2.61vw;
    }
}
@media (max-width: 767px) {
    .item:first-of-type {
        margin-bottom: 5.25vw;
    }
}
.name {
    color: #2468ff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 32px;
    line-height: 40.32px;
}
@media (max-width: 1570px) {
    .name {
        font-size: 2.04vw;
        line-height: 2.55vw;
    }
}
@media (max-width: 767px) {
    .name {
        font-size: 5vw;
        line-height: 4.69vw;
    }
}
.name:first-of-type {
    margin-bottom: 8px;
}
@media (max-width: 1570px) {
    .name:first-of-type {
        margin-bottom: .51vw;
    }
}
@media (max-width: 767px) {
    .name:first-of-type {
        margin-bottom: 2.5vw;
    }
}
.text {
    line-height: 30px;
    margin-bottom: 24px;
}
@media (max-width: 1570px) {
    .text {
        line-height: 1.91vw;
        margin-bottom: 1.53vw;
    }
}
@media (max-width: 767px) {
    .text {
        line-height: 7.19vw;
        font-size: 4.58vw;
        margin-bottom: 3.13vw;
    }
}
.ul {
    padding-left: 32px;
}
@media (max-width: 1570px) {
    .ul {
        padding-left: 1.53vw;
    }
}
@media (max-width: 767px) {
    .ul {
        padding-left: 5.94vw;
        width: 90vw;
    }
}
.li {
    position: relative;
    font-size: 31px;
    line-height: 50.2px;
    position: relative;
    z-index: -1;
}
@media (max-width: 1570px) {
    .li {
        font-size: 1.97vw;
        line-height: 3.18vw;
    }
}
@media (max-width: 767px) {
    .li {
        font-size: 4.68vw;
        line-height: 8.19vw;
    }
}
.li:before {
    content: "";
    position: absolute;
    background-color: #2468ff;
    top: 18.1px;
    left: -30px;
    height: 14px;
    width: 14px;
    border-radius: 10px;

}
@media (max-width: 1570px) {
    .li:before {
        top: 1.15vw;
        left: -1.91vw;
        height: .89vw;
        width: .89vw;
        border-radius: .64vw;
    }
}
@media (max-width: 767px) {
    .li:before {
        top: 2.03125vw;
        left: -5.8vw;
        height: 3.13vw;
        width: 3.13vw;
        border-radius: 3.13vw;
    }
}
.image {
    width: 815px;
    height: 535px;
}
@media (max-width: 1570px) {
    .image {
        width: 51.91vw;
        height: 34.08vw;
    }
}
@media (max-width: 767px) {
    .image {
        width: 91.91vw;
        height: 65.08vw;
        padding-top: 5vw;
    }
}