.order {
    background: linear-gradient(117.79deg, #fff -22.73%, #d6dfff 126.83%);
}
@media (max-width: 767px) {
    .order {
        height: 434vw;
        position: relative;
        margin-bottom: 12.5vw;
    }
}

.title {
    text-align: end;
    font-weight: 500;
    font-size: 43px;
    padding-top: 75px;
    margin-right: 315px;
}
@media (max-width: 1920px) {
    .title {
        font-size: 2.24vw;
        padding-top: 3.91vw;
        margin-right: 16.41vw;
    }
}
@media (max-width: 767px) {
    .title {
        text-align: start;
        font-size: 6.55vw;
        padding-top: 4.94vw;
        margin-right: 0vw;
        margin-bottom: 0vw;
    }
}
.wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;

}
@media (max-width: 1920px) {
    .wrapper {
        padding-top: 3.75vw;
        margin: 0 auto;
        max-width: 73vw;
    }
}
@media (max-width: 767px) {
    .wrapper {
        flex-direction: column;
        padding-top: 5.63vw;
        margin: 0;
        max-width: 100vw;
    }
}
.imageGroup {
    display: flex;
    flex-direction: column;
}
@media (max-width: 767px){
    .imageGroup {
        margin: 0 auto;
    }
}
.image {
    width: 628px;
    margin-bottom: 62.58px;
}
@media (max-width: 1920px) {
    .image {
        width: 32vw;
        margin-bottom: 3.23vw;
    }
}
@media (max-width: 767px) {
    .image {
        width: 93.75vw;
        margin-bottom: 6.88vw;
        margin-right: 0vw;
    }
}
@media (max-width: 767px) {
    .image:nth-of-type(1) {
        position: absolute;
        bottom: 0;
        left: 3vw;
    }
}
@media (max-width: 767px) {
    .image:nth-of-type(2) {
        width: 93.75vw;
    }
}
.listGroup {
    display: flex;
    width: 671px;
}
@media (max-width: 1920px) {
    .listGroup {
        width: 34.95vw;
    }
}
@media (max-width: 767px) {
    .listGroup {
        width: 100vw;
    }
}
.listImg {
    height: 773px;
    margin-right: 17px;
}
@media (max-width: 1920px) {
    .listImg {
        height: 40.26vw;
        margin-right: .89vw;
    }
}
@media (max-width: 767px) {
    .listImg {
        height: 223.75vw;
        margin-right: 3.44vw;
    }
}
.textWrapper {
    display: flex;
    flex-direction: column;
}
@media (max-width: 767px) {
    .textWrapper {
        padding-top: 4vw;
    }
}
.textGroup {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    line-height: 33px;
    margin-bottom: 23px;
    width: 579px;
}
@media (max-width: 1920px) {
    .textGroup {
        font-size: .99vw;
        line-height: 1.72vw;
        margin-bottom: 1.2vw;
        max-width: 30.16vw;
    }
}
@media (max-width: 767px) {
    .textGroup {
        font-size: 4.58vw;
        line-height: 7.29vw;
        margin-bottom: 9.2vw;
        max-width: 77.5vw;
    }
}
.name {
    font-weight: 500;
    font-size: 26px;
    line-height: 36.4px;
    margin-bottom: 18px;
}
@media (max-width: 1920px) {
    .name {
        font-size: 1.35vw;
        line-height: 1.88vw;
        margin-bottom: .94vw;
    }
}
@media (max-width: 767px) {
    .name {
        font-size: 5vw;
        line-height: 5.94vw;
        margin-bottom: 3.75vw;
    }
}
.text {
    max-width: 316px;
}
@media (max-width: 1920px) {
    .text {
        max-width: 16.46vw;
    }
}
@media (max-width: 767px) {
    .text {
        max-width: 77.5vw;
    }
}
.ul {
    padding-left: 27px;
}
.li {
    list-style-type: disc;
    max-width: 570px;
}
@media (max-width: 1920px) {
    .li {
        max-width: 29.69vw;
    }
}
@media (max-width: 1920px) {
    .li:nth-child(1) {
        margin-bottom: 1.82vw;
    }
}
@media (max-width: 767px) {
    .li {
        max-width: 77.5vw;
    }
}
.order__li:nth-child(1) {
    margin-bottom: 35px;
}

