.checkbox {
    position: relative;
}

.checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

  .checkbox>span {
    display: inline-flex;
    /* align-items: start; */
    user-select: none;
    font-size: 18px;
    line-height: 25.2px;

  }
  @media (max-width: 1570px) {
    .checkbox>span {
        font-size: 1.15vw;
        line-height: 1.59vw;
    }
    }
    @media (max-width: 767px) {
        .checkbox>span {
            font-size: 2.75vw;
            line-height: 4.94vw;
        }
    }

  .checkbox>span::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #292D32;
    border-radius: 8px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  @media (max-width: 1570px) {
    .checkbox>span::before {
        margin-top: .25vw;
        margin-right: 1.27vw;
        width: 1.78vw;
        height: 1.78vw;
        border-radius: .51vw;
    }
  }
    @media (max-width: 767px) {
        .checkbox>span::before {
            width: 6.25vw;
            height: 6.25vw;
            margin-right: 6.25vw;
            border-radius: 2.1vw;
            border: 1px solid #292d32;
        }
    }

    .checkbox._error>span::before {
      box-shadow: 0 0 15px red;
    }

  /* стили при наведении курсора на checkbox */
  .checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #89bbf3;
  }

  /* стили для активного чекбокса (при нажатии на него) */
  .checkbox>input:not(:disabled):active+span::before {
    background-color: #89bbf3;
    border-color: #89bbf3;
  }

  /* стили для чекбокса, находящегося в фокусе */
  .checkbox>input:focus+span::before {
    box-shadow: 0px 0px 10px 2px rgb(108, 154, 253);
  }

  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .checkbox>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }

  /* стили для чекбокса, находящегося в состоянии checked */
  .checkbox>input:checked+span::before {
    border-color: #2468FF;
    background-color: #2468FF;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

  /* стили для чекбокса, находящегося в состоянии disabled */
  .checkbox>input:disabled+span::before {
    background-color: #e9ecef;
  }
  

.error2 {
  position: absolute;
  top:120%;
  font-size: 16px;
  color: rgb(255, 86, 86);
  z-index: 20;
}
@media (max-width: 767px) {
  .error2 {
      top: 100%;
      font-size: 3vw;
  }
}


