.textarea {
    border: 1px solid rgba(0, 0, 0, .3215686275);
    resize: none;
    height: 137px;
    border-radius: 10px;
    padding-left: 24px;
    margin-bottom: 24px;
    padding-top: 25px;
    font-size: 20px;
    width: 100%;
}

@media (max-width: 1570px) {
    .textarea {
        height: 8.73vw;
        border-radius: .64vw;
        padding-left: 1.53vw;
        margin-bottom: 1.53vw;
        padding-top: 1.59vw;
        font-size: 1.27vw;
    }
}

@media (max-width: 767px) {
    .textarea {
        height: 39.69vw;
        border-radius: 3.13vw;
        padding-left: 6.25vw;
        margin-bottom: 3.75vw;
        padding-top: 5.63vw;
        font-size: 4.38vw;
    }
}

.textarea:focus {
    border: 2px solid rgb(108, 154, 253);
    box-shadow: 0px 0px 10px 2px rgb(108, 154, 253);
    outline:none
}

.inputWrapper {
    position: relative;
}

.error {
    position: absolute;
    bottom: 6px;
    font-size: 16px;
    color: rgb(255, 86, 86);
    z-index: 20;
}

@media (max-width: 767px) {
    .error {
        font-size: 3vw;
        bottom: 0.5vw;
    }
}