@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('./HelveticaNeueCyr-Roman.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('./HelveticaNeueCyr-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('./HelveticaNeueCyr-Heavy.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('./HelveticaNeueCyr-Bold.woff') format('woff'), ;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('./HelveticaNeueCyr-Black.woff') format('woff');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
  }
  
  
  