.guarantee {
    text-align: center;
}
.title {
    font-weight: 700;
    font-size: 46px;
    line-height: 55.35px;
    margin-bottom: 43px;
    padding-top: 43px;

}
@media (max-width: 1570px) {
    .title {
        font-size: 2.93vw;
        line-height: 3.5vw;
        margin-bottom: 2.74vw;
        padding-top: 2.74vw;
    }
}
@media (max-width: 767px) {
    .title {
        font-size: 6.25vw;
        line-height: 7.5vw;
        margin-bottom: 4.06vw;
        padding-top: 5.94vw;
        margin-top: 10vw;
    }
}
.subtitle {
    color: #2468ff;
    display: inline-block;
    font-weight: 500;
    font-size: 33px;
    line-height: 40.32px;
    margin-bottom: 43px;
}
@media (max-width: 1570px) {
    .subtitle {
        font-size: 2.1vw;
        line-height: 2.55vw;
        margin-bottom: 2.74vw;
    }
}
@media (max-width: 767px) {
    .subtitle {
        font-size: 5vw;
        line-height: 4.69vw;
        margin-bottom: 6.88vw;
        width: 65vw;
    }
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
}
.item {
    background: linear-gradient(117.79deg, #fff -22.73%, #d6dfff 126.83%);
    box-shadow: 0 3px 25.2000007629px 0 rgba(0, 31, 111, .1098039216);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 496px;
}
@media (max-width: 1570px) {
    .item {
        border-radius: .64vw;
        width: 31.59vw;
    }
}
@media (max-width: 767px) {
    .item {
        margin-bottom: 4.06vw;
        width: 95vw;
        border-radius: 3vw;
    }
}
.image {
    padding-top: 17px;
    margin-bottom: 22px;
}
@media (max-width: 1570px) {
    .image {
        padding-top: 1.08vw;
        margin-bottom: 1.4vw;
        width: 2.99vw;
    }
}
@media (max-width: 767px) {
    .image {
        padding-top: 4.06vw;
        margin-bottom: 4.06vw;
        width: 8.75vw;
    }
}

.text {
    margin-bottom: 19px;
    font-size: 20px;
    line-height: 31px;
}
@media (max-width: 1570px) {
    .text {
        margin-bottom: 1.21vw;
        font-size: 1.27vw;
        line-height: 1.97vw;
    }
}
@media (max-width: 767px) {
    .text {
        margin-bottom: 4.06vw;
        font-size: 4.38vw;
        line-height: 6.56vw;
    }
}
.item:nth-of-type(1)>.text {
    width: 342px;
    margin-bottom: 0;
}
@media (max-width: 1570px) {
    .item:nth-of-type(1)>.text {
        width: 21.78vw;
    }
}
@media (max-width: 767px) {
    .item:nth-of-type(1)>.text {
        width: 77.19vw;
    }
}
.item:nth-of-type(2)>.text {
    width: 402px;
}
@media (max-width: 1570px) {
    .item:nth-of-type(2)>.text {
        width: 25.61vw;
    }
}
@media (max-width: 767px) {
    .item:nth-of-type(2)>.text {
        width: 79.69vw;
    }
}

.item:nth-of-type(3)>.text {
    width: 278px;
}
@media (max-width: 1570px) {
    .item:nth-of-type(3)>.text {
        width: 17.71vw;
    }
}
@media (max-width: 767px) {
    .item:nth-of-type(3)>.text {
        width: 75.31vw;
    }
}

.phoneLink {
    color: #2468ff;
    text-decoration: none;
    margin-bottom: 19px;
}
@media (max-width: 1570px) {
    .phoneLink {
        margin-bottom: 1.21vw;
    }
}
@media (max-width: 767px) {
    .phoneLink {
        margin-bottom: 4.06vw;
        font-size: 4.38vw;
    }
}
