.tradiInForm {
    position: relative;
    padding-bottom: 124px;
}
@media (max-width: 1570px) {
    .tradiInForm {
        padding-bottom: 7.9vw;
    }
}
@media (max-width: 767px) {
    .tradiInForm {
        padding-bottom: 10.63vw;
    }
}
.wrapperMain {
    background-color: #b3bad4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding-left: 58px;
    position: relative;
}
@media all and (max-width: 1570px) {
    .wrapperMain {
        border-radius: 1.27vw;
        padding-left: 3.69vw;
   }
}
@media all and (max-width: 767px) {
    .wrapperMain {
        display: flex;
        justify-content: center;
        border-radius: 2.5vw;
        padding-left: 0vw;
        padding-top: 8.44vw;
   }
}
.formWrapper {
    padding-top: 46px;
}
@media all and (max-width: 1570px) {
    .formWrapper {
        padding-top: 2.93vw;
   }
}
@media all and (max-width: 767px) {
    .formWrapper {
        padding-top: 0px;
   }
}
@media all and (max-width: 767px) {
    .subtitle-wrapper {
        width: 66.25vw;
   }
}
.subtitle {
    font-weight: 500;
    font-size: 43px;
    line-height: 42.48px;
    margin-bottom: 43px;
}
@media all and (max-width: 1570px) {
    .subtitle {
        font-size: 2.74vw;
        line-height: 2.68vw;
        margin-bottom: 2.74vw;
   }
}
@media all and (max-width: 767px) {
    .subtitle {
        font-size: 6.25vw;
        line-height: 6.715vw;
        margin-bottom: 6.175vw;
   }
}
.wrapper {
    width: 631px;
}
@media all and (max-width: 1570px) {
    .wrapper {
        width: 40.19vw;
   }
}
@media all and (max-width: 767px) {
    .wrapper {
        width: 87.5vw;
   }
}
.form {
    width: 629px;
}
@media all and (max-width: 1570px) {
    .form {
        width: 40.06vw;
   }
}
@media all and (max-width: 767px) {
    .form {
        width: 87.5vw;
   }
}
.img {
    width: 762px;
    height: 522px;
    margin-right: 36px;
}
@media all and (max-width: 1570px) {
    .img {
        width: 48.54vw;
        height: 33.25vw;
        margin-right: 2.29vw;
   }
}
@media all and (max-width: 767px) {
    .img {
        display: none;
   }
}
