

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1130px;
}
.menuMobile {
  width: 100%;
  max-width: 1130px;
  transform: translateY(-1500px);
  transition: transform .4s ease-out;
}

.listMobile {
  padding-top: 200px;
  list-style-type: none;
  padding-top: 25vw;
  height: 100px;
}
.listWrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  padding-bottom: 10vw;
}
.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
  padding-left: 94px;

}
@media (max-width: 1920px) {
  .list {
    padding-left: 5vw;
  }
}
@media (max-width: 1240px) {
  .list {
    height: auto;
  }
}
@media (max-width: 767px) {
  .list {
    padding-left: unset;
  }
}
.list a {
  font-weight: 400;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}
.listMobile a {
  font-weight: 400;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}
@media (max-width: 768px) {
  .listMobile a {
    font-size: 5.1vw;
    padding: 4.25vw 0vw;
    color: #3c3c3c;
    background-color: #fff;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 1570px) {
  .list a {
    font-size: 1.54vw;
  }
}

@media (max-width: 768px) {
  .wrapperMobile {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: flex-start;
    background-color: #fff;
    height: 13.95vw;
    margin-top: 5vw;
    z-index: 50;
    
  }
}
.logo {
  height: 95.47px;
}
@media (max-width: 1570px) {
  .logo {
    height: 6.06vw;
  }
}
@media (max-width: 767px) {
  .logo {
      height: 11.06vw;
  }
}
@media (max-width: 768px) {
  .titleMobile {
    font-weight: 500;
    text-align: start;
    margin-left: 2vw;
    font-size: 4.37vw;
    font-family: HelveticaNeueCyr;
    font-weight: 500;
  }
}
@media (max-width: 768px) {
  .burger {
    display: flex;
    flex-direction: column;
    margin-left: 36.9vw;
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 20;
}
}
@media (max-width: 450px) {
  .burger {
    margin-left: 34.9vw;
    width: 40px;
}
}
@media (max-width: 768px)  {
  .line {
    height: 4px;
    width: 47px;
    background-color: #000;
    border-radius: 40px;
    position: absolute;
  }
  .line:nth-of-type(1) {
    bottom: 22px;
    transition: all .3s ease-out;
  }
  .line:nth-of-type(2) {
    bottom: 9px;
    transition: all .4s ease-out;
  }
  .line:nth-of-type(3) {
    top: 11px;
    transition: all .4s ease-out;
  }
  .line:nth-of-type(3).cross {
    transform: rotate(-45deg);
    width: 34px;
    top: 21px;
  }
  .line:nth-of-type(3).cross.helicopter {
    width: 31px;
    top: 12px;
    right: 29px;
    transform: rotate(315deg);
}
}
@media (max-width: 450px)  {
  .line {
    height: 2px;
    width: 26px;
  }
  .line:nth-of-type(1) {
    bottom: 18px;
    left: 6px;
  }
  .line:nth-of-type(2) {
    bottom: 12px;
    left: 6px;
  }
  .line:nth-of-type(3) {
    top: 24px;
    left: 6px;
  }
}
.phoneWrapper {
    border-top: 2px #e1eeff solid;
    margin-top: 2vw;
    padding: 6.5vw 0vw 0vw 0vw;
    justify-content: center;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
}
.phoneWrapper img {
  width: 6.3vw;
  margin-right: 2vw;
  padding-top: .4vw;
}
.phoneWrapper a {
  font-family: HelveticaNeueCyr;
  font-weight: 600;
  font-size: 5.5vw;
  position: relative;
  color: #2468ff;
  text-decoration: underline;
  width: unset;
  padding: 0;
}


